@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      color-scheme: light;
    }
    
    .dark {
      color-scheme: dark;
    }
  }
/* Add this layer directive */
@layer base {
    @font-face {
        font-family: "HarmonyReg";
        src: url("./src/fonts/HarmonyOS_Sans_Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "HarmonyThin";
        src: url("./src/fonts/HarmonyOS_Sans_Thin.ttf") format("truetype");
    }

    @font-face {
        font-family: "HarmonyLight";
        src: url("./src/fonts/HarmonyOS_Sans_Light.ttf") format("truetype");
    }
}